<section class="believe">
  <div class="container">
    <div class="swiper believe__slider">
      <div class="swiper-wrapper">
        <div class="believe__slider-btns">
          <svg
            width="27"
            height="17"
            viewBox="0 0 27 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.1666 1.5L24.8333 8.16667L18.1666 14.8333M8.16658 14.8333L1.49992 8.16667L8.16658 1.5"
              stroke="#7E8492"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="swiper-slide believe__slide believe__slide--tall">
          <img
            class="believe__img"
            src="/assets/images/workman-coffie.svg"
            alt="Person working on a laptop at a white desk with coffee "
            loading="lazy"
            width="502"
            height="609"
          />
        </div>
        <div class="swiper-slide believe__slide believe__slide--card">
          <img
            class="believe__img"
            src="/assets/images/School-teacher.svg"
            alt="Team members listening to a presentation"
            loading="lazy"
            width="502"
            height="374"
          />
          <div class="believe__content">
            <h2 class="believe__title">What we believe in</h2>
            <p class="believe__descr text-p-default">
              Over the years at Sans, we have put a lot of thought into what it is that makes us who
              we are. The qualities that unite us, that make us such an effective team, and...
            </p>
            <a class="believe__link" href="./contact.html">See Details -></a>
          </div>
        </div>
        <div class="swiper-slide believe__slide believe__slide--tall believe__slide--side">
          <img
            class="believe__img"
            src="/assets/images/two-woman-work.svg"
            alt="woman-work in macbook "
            loading="lazy"
            width="506"
            height="460"
          />
        </div>
      </div>
    </div>
  </div>
</section>
