<section class="info-blog">
  <div class="container info-blog__container">
    <div class="info-blog__meta">
      <address class="info-blog__author">
        <img
          class="info-blog__author-avatar"
          src="./assets/images/comment-author.jpg"
          alt="Renee Wells"
          width="56"
          height="56"
          loading="lazy"
        />
        <span class="info-blog__author-info">
          <span class="info-blog__author-name">Renee Wells</span>
          <span class="info-blog__author-professions">Product Designer, Quotient</span>
        </span>
      </address>
      <p class="info-blog__date">
        <span class="info-blog__read-time">10 min read</span>
        <time class="info-blog__date-tag" datetime="2023-11-10">November 10, 2023</time>
      </p>
    </div>
    <img
      class="info-blog__img"
      src="./assets/images/table.jpg"
      alt="Workspace with table and chairs"
      loading="lazy"
    />
    <p class="info-blog__descr">
      Depending on the input, this can result in using a lot of processing power and time. The whole
      process would take approximately 5 seconds to return a result to the client. Keep in mind
      we’re talking about 1 item, a contact from a contact book. After a while, a new requirement is
      added. Solution must support companies that manage their contacts organized in files. We
      agreed to develop a web application that would support upload of dataset files, like .csv. The
      new web application should support third party integrations. Some of them are the ESP/CRM
      services, like Mailchimp. User does not need to see the result immediately. System can later
      notify the user about the result, when the process finishes. This information is the key that
      we need to leverage on when developing our solution. So here’s how we did it.
    </p>
  </div>
</section>
