<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img
          src="./assets/icons/partners/airbnb-Logo.svg"
          alt="airbnb-Logo icon"
          width="97"
          height="30"
          loading="lazy"
        />
      </li>
      <li class="partners__item">
        <img
          src="./assets/icons/partners/Amazon-Logo.svg"
          alt="amazon-Logo icon"
          width="97"
          height="30"
          loading="lazy"
        />
      </li>
      <li class="partners__item">
        <img
          src="./assets/icons/partners/FedEx-Logo.svg"
          alt="FedEx-Logo icon"
          width="95"
          height="29"
          loading="lazy"
        />
      </li>
      <li class="partners__item">
        <img
          src="./assets/icons/partners/Microsoft-Logo.svg"
          alt="microsoft-Logo icon"
          width="115"
          height="25"
          loading="lazy"
        />
      </li>
      <li class="partners__item">
        <img
          src="./assets/icons/partners/Google-Logo.svg"
          alt="Google-Logo icon"
          width="90"
          height="30"
          loading="lazy"
        />
      </li>
      <li class="partners__item">
        <img
          src="./assets/icons/partners/OLA-Logo.svg"
          alt="OLA-Logo icon"
          width="93"
          height="32"
          loading="lazy"
        />
      </li>
      <li class="partners__item">
        <img
          src="./assets/icons/partners/Walmart-Logo.svg"
          alt="Walmart-Logo icon"
          width="113"
          height="27"
          loading="lazy"
        />
      </li>
      <li class="partners__item">
        <img
          src="./assets/icons/partners/OYO-Logo.svg"
          alt="OYO-Logo icon"
          width="80"
          height="30"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
