<section class="info">
  <div class="container">
    <div class="info__nav">
      <ul class="info__list">
        <li class="info__item">View all</li>
        <li class="info__item">Design</li>
        <li class="info__item">Articles</li>
        <li class="info__item">Product</li>
        <li class="info__item">Software Development</li>
        <li class="info__item">Customer Success</li>
      </ul>
    </div>
    <div class="swiper info__slider">
      <div class="swiper-wrapper">
        <div class="info__slider-btns">
          <button class="info__btn info__btn--prev" type="button" aria-label="Previous slide"></button>
          <button class="info__btn info__btn--next" type="button" aria-label="Next slide"></button>
        </div>
        <div class="swiper-slide info__slide">
          <img
            loading="lazy"
            class="info__article-img"
            width="515"
            height="428"
            src="./assets/images/woman.jpg"
            alt="woman typing on laptop and writing on a notebook"
          />
          <div class="info__article-head text-p-small">
            <div class="info__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
          </div>
          <div class="info__article-wrapper">
            <h3 class="info__article-wrapper-title heading-h5">Practice making User Flow</h3>
            <p class="info__article-wrapper-descr">
              In this article, we'll cover how to create user flows
            </p>
          </div>
        </div>
        <div class="swiper-slide info__slide">
          <img
            loading="lazy"
            class="info__article-img"
            width="515"
            height="428"
            src="./assets/images/two-woman-work.svg"
            alt="woman typing on laptop and writing on a notebook"
          />
          <div class="info__article-head text-p-small">
            <div class="info__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="info__article-author">by : Albert Sans</address>
          </div>
          <div class="info__article-wrapper info__article-wrapper--size">
            <h3 class="info__article-wrapper-title heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="info__article-wrapper-descr info__article-wrapper-descr--width">
              What are Design Principles?… To understand design principles, we first discuss the
              principles.
            </p>
          </div>
        </div>
        <div class="swiper-slide info__slide">
          <img
            loading="lazy"
            class="info__article-img"
            width="515"
            height="428"
            src="./assets/images/Image.jpg"
            alt="woman typing on laptop and writing on a notebook"
          />
          <div class="info__article-head text-p-small">
            <div class="info__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="info__article-author">by : Albert Sans</address>
          </div>
          <div class="info__article-wrapper info__article-wrapper--size">
            <h3 class="info__article-wrapper-title heading-h5">Using Grid in website design</h3>
            <p class="info__article-wrapper-descr">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
