<section class="journal">
  <div class="container journal__container">
    <div class="journal__wrapper">
      <div class="journal__wrapper-column">
        <div class="journal__wrapper-card">
          <img
            src="/assets/images/A-table-chair.jpg"
            alt="there a macbook on the table"
            loading="lazy"
            width="584"
            height="751"
            class="journal__wrapper-img"
          />
          <div class="journal__wrapper-info">
            <h1 class="journal__wrapper-info-title">
              How we perform long-running tasks using AWS services
            </h1>
            <p class="journal__wrapper-info-descr">
              Webflow is web design tool as well as a hosting platform and CMS all in one. While you
              are probably familiar with all of these, they are usually entirely separate tools.
            </p>
          </div>
        </div>

        <div class="journal__wrapper-card">
          <img
            src="/assets/images/confetence-man.jpg"
            alt="conference man turning his head "
            loading="lazy"
            width="584"
            height="507"
            class="journal__wrapper-img"
          />
          <div class="journal__wrapper-info">
            <h1 class="journal__wrapper-info-title">
              Layout Exploration — Simple exercise but big effect
            </h1>
            <p class="journal__wrapper-info-descr">
              Make alternatives or other options for the design we are making. For example, we are
              creating a website design. Then there is the testimonial section.
            </p>
          </div>
        </div>
      </div>

      <div class="journal__wrapper-column">
        <div class="journal__wrapper-card">
          <img
            src="/assets/images/company-man.jpg"
            alt="The company is having fun"
            loading="lazy"
            width="584"
            height="507"
            class="journal__wrapper-img"
          />
          <div class="journal__wrapper-info">
            <h1
              class="journal__wrapper-info-title journal__wrapper-info-title--underline journal__wrapper-info-title--width"
            >
              How to ask when doing User Research
            </h1>
            <p class="journal__wrapper-info-descr">
              Bro, the story is that you want to make an application for buying and selling goods on
              the market. During user research, what do you think you will ask people?
            </p>
          </div>
        </div>

        <div class="journal__wrapper-card">
          <img
            src="/assets/images/teacher.jpg"
            alt="the teacher stands and looks at the students"
            loading="lazy"
            width="584"
            height="751"
            class="journal__wrapper-img"
          />
          <div class="journal__wrapper-info">
            <h1 class="journal__wrapper-info-title journal__wrapper-info-title--width">
              Webflow Break the Coding Barrier
            </h1>
            <p class="journal__wrapper-info-descr">
              Webflow is web design tool as well as a hosting platform and CMS all in one. While you
              are probably familiar with all of these, they are usually entirely separate tools.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
